html {
	min-width: 330px;
}

body {
	font-family: Verdana, sans-serif;
}

a { 
	color: black;
	border-bottom: 1px dotted black;
	text-decoration: none;
}

a:hover {
	border-bottom: 1px solid black;
}

#title {
	width: 100%;
	background: #D5DEE3;
	text-align: center;
	padding-top: 3px;
	padding-bottom: 3px;
}

#loading {
	width: 100%;
	/* hidden after loading done */
}

#notifications {
	width: 100%;
	display: none; /* hidden until loading done */
}

#notifications .row {
	border-bottom: 1px solid #EEEEEE;
	width: 100%;
	padding-bottom: 3px;
	padding-top: 3px;
	overflow: hidden;
}

#notifications .type {
	float: left;
}

#notifications .number {
	float: right;
	font-weight: bold;
}
